In [39]:
from datasets import load_dataset
import pandas as pd

In [40]:
dataset_name = 'allegro/klej-allegro-reviews'

In [41]:
dataset = load_dataset(dataset_name)

In [42]:
dataset['train']

Dataset({
    features: ['text', 'rating'],
    num_rows: 9577
})

In [43]:
df = dataset['train'].to_pandas()
df

                                                   text  rating
0     Jako do ceny dobra. Przyssawka mogłaby być lep...     3.0
1     Na słuchawkę czekałam spory czas a po zadzwoni...     1.0
2     Czajnik na pierwszy rzut oka wygląda ok, ale n...     1.0
3     Bardzo fajny czajnik, na pewno nie gorszy od m...     4.0
4     Pomysł na produkt (uchwyt na kierownicę) bardz...     2.0
...                                                 ...     ...
9572  Produkt nie do końca zgadza się z opisem aukcj...     4.0
9573  Opaska Xiaomi Mi Band 4 to super gadżet. Wedłu...     5.0
9574  "Bardzo ładnie prezentuje sie po zamontowaniu....     4.0
9575  Nie wiem jakie są zalety ani wady ani jak to o...     2.0
9576                                                ...     5.0

[9577 rows x 2 columns]

In [44]:
df['sentiment'] = df['rating'].map(
    {
        5.0: 'positive',
        4.0: 'positive',
        3.0: 'neutral',
        2.0: 'negative',
        1.0: 'negative',
    }
)

In [45]:
df['sentiment'].value_counts()

sentiment
positive    5567
negative    2802
neutral     1208
Name: count, dtype: int64

In [50]:
g = df.groupby('sentiment')
df = g.apply(lambda x: x.sample(g.size().min()).reset_index(drop=True))

/var/folders/zb/r99_v3zs3yv2m9vf5z0rlbqc0000gn/T/ipykernel_24839/1529831074.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = g.apply(lambda x: x.sample(g.size().min()).reset_index(drop=True))

In [51]:
df['sentiment'].value_counts()

sentiment
negative    1208
neutral     1208
positive    1208
Name: count, dtype: int64

In [58]:
df['text'].isnull().sum() > 0

np.False_

                 text  rating  sentiment
sentiment
negative  0     False   False      False
          1     False   False      False
          2     False   False      False
          3     False   False      False
          4     False   False      False
...               ...     ...        ...
positive  1203  False   False      False
          1204  False   False      False
          1205  False   False      False
          1206  False   False      False
          1207  False   False      False

[3624 rows x 3 columns]

In [55]:
df.reset_index(drop=True)

                                                   text  rating sentiment
0     "Etui wykonane z dobrych jakościowo materiałów...     2.0  negative
1     "badziew jakich mało. Nie umożliwia ostrzenia ...     1.0  negative
2     Już dawno się tak nie zawiodłem. Produkt jest ...     1.0  negative
3     Kabel choć na wtyczkach 3 pinowych ma podłączo...     1.0  negative
4     Za 10 zł nie oczekiwałem szału ale to co dosta...     1.0  negative
...                                                 ...     ...       ...
3619   Jest ok . nie jest to moc ssania jak normalne...     5.0  positive
3620  Bardzo dobre słuchawki. Opcja włączania po odc...     5.0  positive
3621  To jest wręcz rewelacyjny jakościowo produkt. ...     5.0  positive
3622  Za tak śmieszną cenę dostałem radio, które prz...     4.0  positive
3623  Wcześniej kupowałem dokładnie taki sam kabel, ...     5.0  positive

[3624 rows x 3 columns]